body {
  margin: 0;
background-color: salmon;
font-style: italic;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ol{
  height: 500px;
  width: 600px;
  border: solid lawngreen;
  margin-top: auto;
  padding: 25px;
  align-items: center;

}

p{
  font-size: 100px;

  
}