body {
  margin: 0;

font-style: italic;
background-color: ="transparent"
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSlUrlI4RrT1gEBE_46SPpMJp65gyweyZKSNg&usqp=CAU");

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ol{
  /* height: 500px;
  width: 600px;
  border: solid lawngreen;
  margin-top: auto; */
  padding: 25px;
  /* flex: display;
  display: inline; */

}
ol{
  height: 500px;
  width:800px;
  border: solid lawngreen;
  
}

p{
  font-size: 100px;

  
}