body {
  margin: 0;

font-style: italic;
background-color: sandybrown;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ol{
  /* height: 500px;
  width: 600px;
  border: solid lawngreen;
  margin-top: auto; */
  padding: 25px;
  /* flex: display;
  display: inline; */

}
ol{
  height: max-content;
  width:800px;
  border: solid black;

}

p{
  font-size: 100px;

  
}

li{
  display: inline;
  margin: 20px;
}

button:hover{
  background-color: grey;
  font-size: 30px;
  border-radius: 360px;
  
}

button{
  background-color: steelblue;
  color: blanchedalmond;
  border-radius: 360px;
  font-size: 30px;
}
ul{
  border: solid 10px navajowhite;
  padding: 20px;
}

.searchBox{
  font-size: 30px;
}

BeerImg{
  height: min-content;
  width: 45px;
}

buttonForSignUp{
  
  background-color: cornflowerblue;
  border-radius: 360px;
  
}
input{
  font-size: 40px;
}
sign-Up-Description{
  
}